<h3>飲み会で生まれたアプリ</h3>
<br/>
<br/>
<h1>レモンチューハイ、デバッグしない？</h1>
<br/>
<br/>
<br/>
<%= link_to "オーダーする", drinks_path %>
<br/>
<br/>
<br/>
<h5>カンパ〜イ！......これ、炭酸...あれ...??</h5>
<h5>えっ、だよねレモン水だよね?!</h5><h3>...デバッグしちゃう？</h3>
