<%# 注文内容を保存し結果判定と、注文一覧 %>
<h3>定員さん！デバッg...注文いっすか〜！</h1>
<br/>
<br/>
<% if @drinks.blank? %>
  <%= button_to "とりあえずレモンチューハイ！", drinks_path, params: { drink: { name: 'レモンチューハイ' } } %>
<% end %>
<h3>とりあえず行けたかな</h3>
test
<h1>デバッグ内容一覧</h1>
<br/>
