<%# 注文内容を保存し結果判定と、注文一覧 %>
<h3>定員さん！デバッg...注文いっすか〜！</h1>
<br/>
<br/>
<% if @drinks.blank? %>
  <div class="first-order">
    <%= button_to "とりあえずレモンチューハイ！", drinks_path, params: { drink: { name: 'レモンチューハイ' } }, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded", data: { turbo: false } %>
  </div>
<% else %>
  <div class="order-list">
    <h3>注文一覧</h3>
    <ul>
      <h3>ビール</h3>
      <h3>ハイボール</h3>
      <h3>梅酒</h3>
    </ul>
  </div>
  <br/>
  <br/>
  <div class="back-to-top">
    <%= button_to "TOPに戻る", drinks_path, method: :delete, class: "bg-blue-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" %>
  </div>
<% end %>
<br/>
