<h5>カンパ〜イ！......これ、炭酸...あれ...??</h5>
<h5>えっ、だよねレモン水だよね?!</h5><h3>...デバッグしちゃう？</h3>
<br/>
<br/>
<%= link_to "デバッg...注文する", drinks_path, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
<br/>
<br/>
<%= button_to "TOPに戻る", drinks_path, method: :delete, class: "bg-blue-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" %>